In [1]:
import pandas as pd
us_baby_names_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [2]:
### Delete all un-named columns ###

us_baby_names_df.drop(us_baby_names_df.loc[:, us_baby_names_df.columns.str.contains('^Unnamed')], axis=1, inplace=True)

us_baby_names_df.head(5)

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

In [3]:
### Show gender wise distribution ###

us_baby_names_df.Gender.value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [4]:
### Show the top 5 most preferred names ###

us_baby_names_df.groupby(['Name'])['Count'].sum().nlargest(5)

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

In [5]:
### median name occurence in the dataset ###

us_baby_names_df[us_baby_names_df.Id == us_baby_names_df.median().Id]['Name']

508197    Kasey
Name: Name, dtype: object

In [6]:
### Distribution of male and female born count by states ###

us_baby_names_df.groupby(['State','Gender'])['Count'].sum()

State  Gender
AK     F           26250
       M           37399
AL     F          215308
       M          260114
AR     F          129712
       M          162947
AZ     F          368567
       M          439691
CA     F         2414063
       M         2670584
CO     F          260805
       M          313425
CT     F          141350
       M          171397
DC     F           35276
       M           47228
DE     F           31312
       M           41748
FL     F          915422
       M         1060957
GA     F          549637
       M          635531
HI     F           37279
       M           53127
IA     F          144764
       M          174009
ID     F           72808
       M           94320
IL     F          695312
       M          791679
                  ...
OK     F          184967
       M          228613
OR     F          172111
       M          209445
PA     F          593382
       M          682709
RI     F           35560
       M           47939
SC     F          197917
       M          237442
SD     F           34104
       M           45443
TN     F          336487
       M          398615
TX     F         1786281
       M         2005394
UT     F          202892
       M          245324
VA     F          405503
       M          466873
VT     F           15079
       M           21353
WA     F          334944
       M          395377
WI     F          264921
       M          311758
WV     F           73800
       M           93557
WY     F           14107
       M           21912
Name: Count, Length: 102, dtype: int64